includes:
- ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
        - config/
        - database/
        - tests/
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\).#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase\:\:post\(\).#'
        - '#Parameter \#1 \$callback of static method Illuminate\\Database\\Eloquent\\Factories\\Factory\<Illuminate\\Database\\Eloquent\\Model\>\:\:guessFactoryNamesUsing\(\) expects callable\(class-string\<Illuminate\\Database\\Eloquent\\Model\>\)\: class-string\<Illuminate\\Database\\Eloquent\\Factories\\Factory\>, Closure\(string\)\: non-falsy-string given.#'
        - "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
#        - '#Unable to resolve the template type TValue in call to function collect#'
#        - '#no value type specified in iterable type array#'
#
    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
