includes:
- ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src/
        - config/
        - database/
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

    # Level 9 is the highest level
    level: 4

    ignoreErrors: # All these errors are weird to fix. We will do that lastly,
#        - '#cache invoked with#'
#        - '#does not accept default value of type#'
#        - '#Unable to resolve the template type TKey in call to function collect#'
#        - '#Unable to resolve the template type TValue in call to function collect#'
#        - '#no value type specified in iterable type array#'
#
    excludePaths:
         - ./src/Http/Controllers/IncidentController.php
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
